.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
  border-radius: 8px;
  margin: 100px auto;
  padding: 30px;
  gap: 32px;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 30px;
  justify-content: center;
  gap: 8px;
}

.content h1 {
  font-size: 30px;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;

}

.content input[type="text"]:first-of-type {
  font-size: 1rem;
  padding: 4px 8px;
  width: 100%;
  border-radius: 8px;
  outline: none;
  border: 1px solid #d5d5d5;
}

.customizeLinks {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: start;
  width: 100%;
  align-items: center;
  margin-bottom: 1rem;
}

.customizeLinks span {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.customizeLinks input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.customizeLinks input[type="text"] {
  padding: 4px;
  border: 1px solid #d5d5d5;
  outline: none;
  border-radius: 8px;

}

.buttonGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.buttonGroup button {
  padding: 8px 1rem;
  width: 100%;
  background-color: #bebebe;
  border-radius: 8px;
  border: none;
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
}

.buttonGroup button:hover {
  opacity: 0.7;
}